body {
    font-family: "Poppins";
    margin: 0;
}

header {
    background-color: #E46036;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

section {
    zoom: 0.8;
}

article {
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}